<div class="proto__detail js-protoDetail">

  <header class="proto__slide__bar js-protoTransitionOut proto__detail__bar js-protoDetailBar">
    <span class="proto__slide__bar__back"></span>
    <div class="proto__slide__bar__title">back</div>
  </header> 

  <div class="proto__detail__background js-protoDetailBackground"></div>

  <div class="proto__detail__header js-protoDetailHeader"></div>

  <h2 class="proto__headline proto__detail__headline js-protoDetailHeadline">
    <span class="proto__date proto__detail__date js-protoDetailDate"></span>
    <span class="js-protoDetailHeadlineText"></span>
  </h2>
  <h4 class="proto__subhead proto__detail__subhead js-protoDetailSubhead">
  </h4>

  <div class="proto__body proto__detail__body js-protoDetailBody">
  </div>

</div>