<!-- SLIDE 1 -->
<div class="proto__slide proto__slide__3 proto__slide--background js-protoSlide1">
  
  <header class="proto__slide__head">
    <h1 class="proto__slide__head__title">prototype</h1>
  </header> 
  
  <menu class="proto__slide__1__menu">
    <a href="#protoTop" class="proto__slide__1__menu__item proto__slide__1__menu__item--news js-protoSlideTopBtn">
      <div class="proto__slide__1__menu__item__img proto__slide__1__menu__item__img--news"></div>
      <i class="icon proto__slide__1__menu__item__icon proto__slide__1__menu__item__icon__news"></i>
      <span class="proto__slide__1__menu__item__text">Top news</span>
    </a>
    <a href="#protoPicks" class="proto__slide__1__menu__item js-protoSlideEditorBtn">
      <div class="proto__slide__1__menu__item__img"></div>
      <i class="icon proto__slide__1__menu__item__icon"></i>
      <span class="proto__slide__1__menu__item__text">Editor's Pick</span>
    </a>
    <a href="#protoPhotos" class="proto__slide__1__menu__item js-protoSlidePhotoBtn">
      <div class="proto__slide__1__menu__item__img"></div>
      <i class="icon proto__slide__1__menu__item__icon"></i>
      <span class="proto__slide__1__menu__item__text">Photo Roll</span>
    </a>
  </menu>

  <div class="proto__slide__divider">Latest News</div>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>
  
</div>