<!-- SLIDE 2: top news -->
<div class="proto__slide proto__slide__1 proto__slide--in js-protoSlide4Photo">
  
  <header class="proto__slide__head js-protoSlideBackBtn">
    <span class="proto__slide__head__back"></span>
    <h1 class="proto__slide__head__title">Photo roll</h1>
  </header> 

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>

  <article class="proto__item">
    <header class="proto__item__header">
      <img class="proto__item__thumb">
    </header>
    <h2 class="proto__item__headline">
      <span class="proto__item__date">Today</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus
    </h2>
    <h4 class="proto__item__subhead">
      Aenean ut vestibulum lectus, vitae pharetra neque. Nam vitae tempor urna. Nullam porttitor turpis et dui posuere tincidunt. 
    </h4>
  </article>
  
</div>