<!-- SLIDE 2: top news -->
<div class="proto__slide proto__slide__1 proto__slide--in js-protoSlide2Top">
  
  <header class="proto__slide__head js-protoSlideBackBtn">
    <span class="proto__slide__head__back"></span>
    <h1 class="proto__slide__head__title">top news</h1>
  </header> 

  {{#each news}}
    {{#lt @index 12}}
      <article class="proto__item">
        <header class="proto__item__header">
          <img class="proto__item__thumb">
        </header>
        <h2 class="proto__item__headline">
          <span class="proto__item__date">{{date}}</span>
          {{title}}
        </h2>
        <h4 class="proto__item__subhead">
          {{intro}} 
        </h4>
      </article>
    {{/lt}}
  {{/each}}

</div>