<!-- SLIDE 2: top news -->
<div class="proto__slide proto__slide__4 proto__slide--in js-protoSlide js-protoSlide4Photo">
  
  <header class="proto__slide__bar proto__slide__bar--in js-protoSlideBackBtn">
    <span class="proto__slide__bar__back"></span>
    <h1 class="proto__slide__bar__title">Photo roll</h1>
  </header> 

  <div class="proto__image-group proto__image-group__3">

    <article class="proto__image-group__item proto__image-group__item__v">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

    <article class="proto__image-group__item proto__image-group__item__h">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

    <article class="proto__image-group__item proto__image-group__item__h">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

  </div>

  <div class="proto__image-group">

    <article class="proto__image-group__item">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

  </div>

  <div class="proto__image-group proto__image-group__3">

    <article class="proto__image-group__item proto__image-group__item__v2">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

    <article class="proto__image-group__item proto__image-group__item__h2">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

    <article class="proto__image-group__item proto__image-group__item__h2">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

  </div>

  <div class="proto__image-group">

    <article class="proto__image-group__item">
      <header class="proto__item__header">
        <img class="proto__item__thumb">
      </header>
    </article>

  </div>

  
</div>