<!-- SLIDE 2: top news -->
<div class="proto__slide proto__slide__4 proto__slide--in js-protoSlide js-protoSlide4Photo">
  
  <header class="proto__slide__bar proto__slide__bar--in js-protoSlideBackBtn">
    <span class="proto__slide__bar__back"></span>
    <h1 class="proto__slide__bar__title">Photo roll</h1>
  </header> 

    {{#each photoroll}}
      {{#lt @index 8}}

        <div class="proto__image-group proto__image-group__{{group}}">

          {{#each articles}}

          <article class="proto__image-group__item proto__image-group__item__{{img.orientation}}">
            <header class="proto__item__header">
              <div class="proto__item__header__img{{#if img.anchorTop}} proto__item__header__img--top{{/if}}{{#if img.anchorBottom}} proto__item__header__img--bottom{{/if}} js-protoItemHeaderImg" style="background-image:url(img/news/sm/{{img.file}})" data-img-lg="img/news/lg/{{img.file}}"></div>
            </header>
          </article>

          {{/each}}

        </div>

      {{/lt}}
    {{/each}}

  
</div>