---
title: GTS News app proto frame
layout: _frame.hbs

---

<nav class="viewport__nav">
  <button class="js-viewportSwitch" data-size="320x548">iphone 5</button>
  <button class="js-viewportSwitch" data-size="375x647">iphone 6</button>
  <button class="js-viewportSwitch" data-size="600x1004">7" tablet</button>
  <button class="js-viewportSwitch" data-size="768x1004">iPad V</button>
  <button class="js-viewportSwitch" data-size="1024x746">iPad H</button>
  <button class="js-viewportSwitch" data-size="1280x800">Nexus 10</button>
</nav>
<div class="js-viewport viewport">
  
  <iframe src="index.html" width="100%" height="100%" frameborder="0">
  
</div>

