---
title: GTS News app proto
layout: _default.hbs

---

<main class="proto__container">

    {{> _slide0 }}

    {{> _slide1 }}

    {{> _slide2Top }}

    {{> _slide3Editor }}

    {{> _slide4Photo }}
    
</main>
