@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.proto__container {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.proto {
  &__headline {
    margin: 0.3em 5px;
    font-size: 20px;
    font-weight: 700;
  }
  &__subhead {
    margin: 0 5px;
    font-size: 1rem;
    font-weight: 300;
  }
  &__date {
    vertical-align: middle;
    display: inline-block;
    margin-top: -0.3em;
    padding: 0.2em 0.6em;
    color: #fff;
    background-color: #999;
    font-weight: 400;
    font-size: 0.6em;
  }
}

.proto__menu {
  margin: 0 0 -5px;
  padding: 0;
  &__item {
    position: relative;
    display: block;
    float: left;
    color: #fff;
    width: 40%;
    height: 16vh;
    margin: 0;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform:  scale3d(0.01,0.01,1) ;
    .proto__menu--in & {
      animation: bounceIn ease-out 400ms;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
      animation-fill-mode:forwards;
      animation-delay: 100ms;
    }
    @include respond-to(sm-min) {
      width: 33.33%;
    }
    &:nth-child(2) {
      animation-delay: 200ms;
    }
    &:nth-child(3) {
      animation-delay: 300ms;
    }
    &--news {
      width: 60%;
      height: 32vh;
      @include respond-to(sm-min) {
        width: 66.66%;
      }
    }
    &__img {
      position: absolute;
      top: 0;
      right: 5px;
      bottom: 5px;
      left: 2.5px;
      z-index: -1;
      background-color: #666;
      &--news {
        left: 5px;
        right: 2.5px;
      }
    }
    &__icon {
      display: block;
      width: 1em;
      height: 1em;
      margin-bottom: 5px;
      background-color: rgba(255,255,255,0.5);
      background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #fff 5px, transparent 7px, transparent 10px);
      border: 1px solid #fff;
      font-size: 30px;
      &__news {
        font-size: 60px;
      }
    }
  }
}

.proto__slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  opacity: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: scale(1) translateX(0);
  transition: transform 500ms, opacity 500ms;
  &--in {
    transform: scale(1) translateX(100%);
    z-index: 3;
  }
  &--out {
    transform: scale(0.95) translateX(-50%);
    opacity: 0.5;
    z-index: 0;
  }
  &--locked {
    height: 100%;
    overflow: hidden;
  }
  &--hide {
    visibility: hidden;
  }
  
  // MISC
  &__bar {
    transform: translateY(-50px);
    &--in {
      transform: translateY(0);
      transition: transform 400ms;
      transition-delay: 200ms;
    }
    &__title {
      margin: 0;
      padding: 0.8em 0;
      background: #fff;
      font-size: 1rem;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      text-align: center;
    }
    &__back {
      position: absolute;
      left: 10px;
      top: 18px;
      width: 10px;
      height: 10px;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(-45deg);
    }
  }
  &__divider {
    clear: both;
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
  }

  // SLIDE: INTRO
  &__intro {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    &--out {
      opacity: 0;
      z-index: -1;
      transition: opacity 400ms, z-index;
      transition-delay: 0ms, 400ms;
    }
  }
}

/* article list */

.proto__items {
  opacity: 0;
  &--in {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 500ms;
  }
}

.proto__item {
  padding: 0 5px 20px;
  @include respond-to(xs-only) {
    width: 50%;
    float: left;
    &:nth-of-type(2n+1) {
      clear: left;
      padding-right: 2.5px;
    }
    &:nth-of-type(2n+2) {
      padding-left: 2.5px;
    }
  }
  @include respond-to(sm-min) {
    width: 33.33%;
    float: left;
    &:nth-of-type(3n+1) {
      clear: left;
      padding-right: 2.5px;
    }
    &:nth-of-type(3n+2) {
      padding-left: 2.5px;
      padding-right: 2.5px;
    }
    &:nth-of-type(3n+3) {
      padding-left: 2.5px;
    }
  }
  &__header {
    position: relative;
    height: 0;
    padding-top: 66.66%;
    background-color: #333;
    &__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      &--top {
        background-position: 50% 0;
      }
      &--bottom {
        background-position: 50% 100%;
      }
      &--hide {
        background: #fff !important;
      }
    }
  }
}

/* image list */

.proto__image-group {
  overflow: hidden;
  //@include respond-to(sm-min) {
  //  float: left;
  //  width: 51.5%;
  //  margin-left: -5px;
  //}
  //&__3 {
  //  @include respond-to(sm-min) {
  //    width: 48.9%;
  //    margin-left: -5px;
  //  }
  //}
  &__item {
    padding: 0 5px 5px;
    &__v,
    &__v2 {
      width: 47.65%;
      float: left;
      padding-right: 2.5px;
      .proto__item__header {
        padding-top: 149.5%;
        @include respond-to(xs-min) {
          padding-top: 148.2%;
        }
      }
    }
    &__h,
    &__h2 {
      width: 52.35%;
      float: left;
      padding-left: 2.5px;
    }
    &__v2 {
      float: right;
      padding-left: 2.5px;
      padding-right: 5px;
    }
    &__h2 {
      float: right;
      padding-left: 5px;
      padding-right: 2.5px;
    }
  }
}

/* detail */
.proto__detail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  padding: 0 5px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  &--ready {
    z-index: 5;
  }
  &__bar {
    opacity: 0;
    &--in {
      opacity: 1;
      transition: opacity 500ms;
      transition-delay: 500ms;
    }
  }
  &__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    opacity: 0;
    transition: opacity 500ms;
    &--in {
      opacity: 1;
      transition-duration: 200ms;
    }
  }
  &__header {
    position: relative;
    height: 0;
    margin: 0;
    padding-top: 66.66%;
    background-color: #333;
    transform: scale3d(1,1,1) translate3d(0,0,0);
    transition: all 0;
    &--ready {
      opacity: 1;
    }
    &--in {
      opacity: 1;
      transform: scale3d(1,1,1) translate3d(0,0,0) !important;
      transform-origin: 0 0;
      transition: transform 200ms;
      transition-timing-function: ease;
      @include respond-to(xs-min) {
        transition-duration: 300ms;
      }
      @include respond-to(sm-min) {
        transition-duration: 400ms;
      }
    }
    &--out {
      opacity: 1;
      transform-origin: 0 0;
      transition: transform 200ms;
      transition-timing-function: ease;
      @include respond-to(xs-min) {
        transition-duration: 300ms;
      }
      @include respond-to(sm-min) {
        transition-duration: 400ms;
      }
    }
  }
  &__headline,
  &__subhead,
  &__date,
  &__body {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    transform: scale3d(1,1,1);
    transition: all 0ms;
    &--in {
      opacity: 1;
      transition: opacity 500ms;
      transition-delay: 120ms;
    }
  }
  &__headline {
    @include respond-to(xs-min) {
      font-size: 32px;
    }
    @include respond-to(sm-min) {
      font-size: 38px;
    }
  }
  &__subhead {
    font-size: 20px;
    &--in {
      transition-delay: 300ms;
    }
    @include respond-to(xs-min) {
      font-size: 24px;
    }
    @include respond-to(sm-min) {
      font-size: 28px;
    }
  }
  &__date {
    margin: 0;
    transform: translate(0,0);
    transition-delay: 300ms;
  }
  &__body {
    &--in {
      transition-delay: 500ms;
    }
    @include respond-to(xs-min) {
      font-size: 18px;
    }
    @include respond-to(sm-min) {
      font-size: 20px;
    }
  }
}

/* animations */

@keyframes bounceIn {
  0% {
    transform: scale3d(0.01,0.01,1) ;
  }
  50% {
    transform: scale3d(1.05,1.05,1) ;
  }
  80% {
    transform: scale3d(0.97,0.97,1);
  }
  100% {
    transform: scale3d(1,1,1) ;
  }
}

