html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
body {
  margin: 0;
  font-family: avenir;
  font-size: 16px;
}
a {
  text-decoration: none;
}

.modal {
  overflow-y: hidden;
  body {
    position: relative;
  }
  &.safari {
    position: fixed;
    right:0;
    left:0;
    top: inherit;
  }
}