body {
  margin: 0;
  background: #999;
}
iframe {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.viewport {
  position: relative;
  width: 375px;
  height: 647px;
  margin: 10px auto 0;
  background: #000;
  transition: width 300ms, height 300ms;
  overflow: auto;
  text-align: left;
  &__nav {
    display: block;
    margin: 10px auto;
    white-space: nowrap;
    text-align: center;
  }
}
::-webkit-scrollbar { 
    display: none; 
}